<footer class="bg-near-white black">
	<nav class="mw7 center cf pv6">
		<div class="fl w-100 w-two-thirds-l cf ph6 ph0-l pv5 br-l bw1-l b--black-l">
			<div class="fl w-100 w-third-l tl pv4 pv0-l bb bw1 b--black bn-l">
				<%= link_to 'faq', faq_path, class: 'db f6 black dim link pb1 pb5-l' %>
				<%= link_to 'how it works', how_it_works_path, class: 'db f6 black dim link pb1 pb5-l' %>
				<%= link_to 'about us', about_us_path, class: 'db f6 black dim link' %>
			</div>
			<div class="fl w-100 w-third-l pv4 pv0-l bb bw1 b--black bn-l">
				<%= link_to 'contact us', 'mailto:info@womp.xyz', class: 'db f6 black dim link pb1 pb5-l' %>
				<%= link_to 'materials', asset_path('materials.pdf'), class: 'db f6 black dim link pb1 pb5-l', target: "_blank" %>
				<%= link_to 'examples', asset_path('examples.pdf'), class: 'db f6 black dim link', target: "_blank" %>
			</div>
			<div class="fl w-100 w-third-l pv4 pv0-l bb bw1 b--black bn-l">
				<%= link_to 'facebook', 'https://www.facebook.com/wompxyz/', class: 'db f6 black dim link pb1 pb5-l', target: "_blank" %>
				<%= link_to 'twitter', 'javascript:alert("Coming soon!")', class: 'db f6 black dim link pb1 pb5-l' %>
				<%= link_to 'instagram', 'https://www.instagram.com/womp.xyz/', class: 'db f6 black dim link', target: "_blank" %>
			</div>
		</div>
		<div class="fl ph6 ph0-l pv5 tr-l w-100 w-third-l">
			<a href="mailto:info@womp.xyz" class="black link dim f4 fw7">info@womp.xyz</a>
		</div>
	</nav>
</footer>

<div class="db w-100 mw7 center cf pv3">
	<div class="fl ph6 ph0-l w-100 w-two-thirds-l cf">
		<p class="f7 lh-title">copyright © 2017 womp 3D inc. all rights reserved.</p>
	</div>
	<div class="fl w-100 w-third-l tr">
		<p>&nbsp;</p>
	</div>
</div>
